@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-dark-50: #4a4a4a;
  --theme-dark-100: #3c3c3c;
  --theme-dark-200: #323232;
  --theme-dark-300: #2d2d2d;
  --theme-dark-400: #222222;
  --theme-dark-500: #1f1f1f;
  --theme-dark-600: #1c1c1e;
  --theme-dark-700: #1b1b1b;
  --theme-dark-800: #181818;
  --theme-dark-900: #0f0f0f;
  --theme-dark-950: #080808;

  --theme-primary-50: #fdf2f8;
  --theme-primary-100: #fce7f3;
  --theme-primary-200: #fbcfe8;
  --theme-primary-300: #f9a8d4;
  --theme-primary-400: #f472b6;
  --theme-primary-500: #ec4899;
  --theme-primary-600: #db2777;
  --theme-primary-700: #be185d;
  --theme-primary-800: #9d174d;
  --theme-primary-900: #831843;
  --theme-primary-950: #500724;
}
